.input-group {
    margin: 20px auto;
    max-width: 300px;

}
.base{
    background: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #333;


}
span{
    font-weight: bold
}
body{
    background: darkred;
}